<form (ngSubmit)="submit()" #entityForm="ngForm" *ngIf="entity">
  <label for="name">Name:</label>
  <input
    type="text"
    id="name"
    required
    [(ngModel)]="entity.name"
    name="name"
    #name="ngModel"
  >
  <div
    [hidden]="name.valid || name.pristine"
    class="invalid"
  >
    Name is required
  </div>

  <br>

  <label for="name">Description:</label>
  <input
    type="text"
    id="description"
    required
    [(ngModel)]="entity.description"
    name="description"
    #description="ngModel"
  >
  <div
    [hidden]="description.valid || description.pristine"
    class="invalid"
  >
    Description is required
  </div>

  <br>

  <button
    type="submit"
    class="btn btn-success"
    [disabled]="!entityForm.form.valid"
  >
    Submit
  </button>
</form>
